<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686534322015-b962vu1rfkhss3l2hoghidit9v81sjn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686534322015-b962vu1rfkhss3l2hoghidit9v81sjn8</string>
	<key>API_KEY</key>
	<string>AIzaSyBWiU-Nd8P51erkK3smu-RddhPgdWaqlDI</string>
	<key>GCM_SENDER_ID</key>
	<string>686534322015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolistapp</string>
	<key>PROJECT_ID</key>
	<string>fluttertodo-app-5bf91</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertodo-app-5bf91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686534322015:ios:448bb0c12ccc3e62d738ea</string>
	<key>DATABASE_URL</key>
	<string>https://fluttertodo-app-5bf91.firebaseio.com</string>
</dict>
</plist>